body{
    background-image: url('../images/pallet.jpg');
    background-size: contain;
    font-family: "Sofia";
}
/** HEADER **/
#header-nav {
    background-color: #ff9ef7;
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
    font-family: 'Oxygen';
  }
  #logo-img {
    background: url('../images/logo.png') no-repeat;
    width: 130px;
    height: 120px;
    margin: 10px 15px 10px 0;
    background-size: contain;
  }
  .navbar-brandname {
    padding-top: 25px;
    height: 100px; 
    font-family: 'Lora', serif;
    color: #557c3e;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
  }
  .navbar-brandname h1{
    color: #557c3e;
    font-size: 50px;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  #nav-list {
    margin-top: 10px;
    padding-top: 15px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
    font-size: 1.1em;
  }
  #nav-list p {
    color: #951C49;
    text-align: center;
    font-size: 1.1em;
    padding: 7px 15px;
    margin: 5px;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -50px;
  }
  /** END HEADER **/

  /** PAGE SPACE **/
  .page-space{
    background-image: url('../images/7742f8792365cedd9a598049c4a2be3d.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .artheader_text{
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: "Comic Neue";
    font-size: 30px;
    color: rgb(9, 71, 42);
  }

	.art-name1
	{
		float: right;
		height: 90px;
		width: 250px;
		background-color: darkslategrey;
		border: 1px solid black;
	}
	.art-name2
	{
		float: right;
		height: 90px;
		width: 250px;
		background-color: black;
		border: 1px solid black;
	}
	.art-name3
	{
		float: right;
		height: 90px;
		width: 250px;
		background-color: slategray;
		border: 1px solid black;
	}

	.catalogue1, .catalogue2, .catalogue3
	{
		width: 100%;
        height: 330px;
        margin-top: 20px;
	}

    
    .first-art, .second-art, .third-art{
        background-color: pink;
        float: left;
        color: black;
        font-size: 30px;
        border: 1px solid black;
        margin-left: 2%;
        margin-bottom: 30px;
        height: 300px;
        overflow: auto;
        width: 31%;
        color: pink;
		font-size: 30px;
		text-align: center;
        font-family: "Comic Neue";
    }


 
  /** END PAGE SPACE **/

  /** FOOTER **/
  /** END FOOTER **/


  @media (min-width: 768px) and (max-width: 991px) {
    /** HEADER **/
    .navbar-brandname {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brandname h1 { 
        
        font-size: 40px; /* 1vw = 1% of viewport width */
    }
    #nav-list {
        padding-top: 0px;
    }
    #nav-list a {
        font-size: 1em;
    }
    #nav-list p {
        font-size: 1em;
        padding: 10px 10px;
    }
    /** END HEADER **/
      
    /** PAGE SPACE **/
    
	.catalogue3
	{
        height: 660px;
	}
    .catalogue2, .catalogue1{
        height: 330px;
	}
    .first-art, .second-art, .third-art{
        margin-bottom: 25px;
    }
    .first-art{
        width: 47.5%;
    } 
    .second-art{
        width: 47.5%;
    } 
    .third-art{
        width: 97%;
    }
    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
  }

  @media (min-width: 768px){
    /** HEADER **/
  .containers {
    width: auto;
    padding: 0px 20px 0px 20px ;
  }
    /** END HEADER **/
      
    /** PAGE SPACE **/
    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
  }


  @media (max-width: 767px) {
    /* HEADER */
    .navbar-brandname {
      padding-top: 10px;
      height: 80px;
    }
    .navbar-brandname h1 { /* Restaurant name */
      font-size: 40px; /* 1vw = 1% of viewport width */
    }
    #nav-list {
        padding-top: 0px;
      }

    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav p { /* Collapsed nav menu text */
        font-size: 1.2em;
      }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }

    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    /* END HEADER */
      
    /** PAGE SPACE **/

    .artheader_text{
      font-size: 24px;
    }
	.catalogue3
	{
        height: 990px;
	}
    .catalogue2
	{
        height: 660px;
	}
    .catalogue1
	{
        height: 330px;
	}
    .first-art, .second-art, .third-art{
        width: 97%;
    } 

    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
}

@media (max-width: 408px) {
        /** PAGE SPACE **/

        .artheader_text{
            height: 70px;
          }
          /** END PAGE SPACE **/
}