body{
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Comic Neue", "Comic Sans MS";
  box-sizing: border-box;
}

/** HEADER **/
#header-nav {
  /*background-color: #BDF0E6;*/
  background: url('../images/header_art.png') no-repeat; 
  background-size: 100% 100%; 
  border-radius: 0;
  border: 0;
  margin-bottom: 0px;
  font-family: "Comic Neue";
  padding-bottom: 10px;
}
#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 90px;
  height: 50px;
  margin: 10px 15px 10px 0;
  background-size: contain;
}
.navbar-brandname {
  /*padding-top: 25px;*/
  height: 60px; 
  font-family: "Comic Neue", "Comic Sans MS";
  color: #329058;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  float: left;
  padding-left: 0px;
  padding-right: 15px;
  line-height: 20px;
}
.navbar-brandname h1{
  color: #329058;
  font-size: 50px;
  font-family: "Comic Neue", "Comic Sans MS";
  margin-top: 12px;
  margin-bottom: 0px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  padding-top: 0px;
}
#nav-list a {
  color: #4c56ac;
  text-align: center;
  font-size: 1.1em;
}
#nav-list p {
  color: #4c56ac;
  text-align: center;
  font-size: 1.1em;
  padding: 7px 15px;
  margin: 5px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #4c56ac;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/** END HEADER **/

  /** PAGE SPACE **/
  .page-space{
    /*background-image: url('../images/7742f8792365cedd9a598049c4a2be3d.png');
    background-size: cover;
    background-repeat: no-repeat;*/
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-family: "Comic Neue", "Comic Sans MS";
  }

  
  .page-space p{
    text-align: center;
    align-items: center;
    display: flex; 
    justify-content: center;
    font-family: "Comic Neue", "Comic Sans MS";
  }

  .page-space form{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .collage_background{
    width: 767px;
    height: 722px;
    /*background-color: #0b5f31;*/
    background-image: url('../images/collage_back_big.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    margin: 0 auto;
    padding-top: 20px;
  }

  .art1header_text{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: rgb(9, 71, 42);
    
  }

  .art1-work-container{
    display: flex;
    width: 700px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 5px solid #1A6F3B;
    box-shadow: 0px 0px 10px rgba(0, 34, 10, 0.7); 
    background-color: rgb(145, 180, 153);
  }
  .art1zone{
    width: 500px;
    height: 450px;
    background-color: rgb(145, 180, 153);
    display: inline-block;
    border-radius: 15px;
    
  }
  .art1menu{
    width: 200px;
    height: 450px;
    background-color: rgb(145, 180, 153);
    display: inline-block;
    border-radius: 15px;
  }

  .art1-canvas{
    width: 100%;
    height: 100%;
    background: #ffffff;
    background-image: url('../images/canvas_draw_back.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
  .palette {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 15px;
    background-color: #AEE6B1;
    padding-top: 7px;
  }   
  .color {
    width: 50px;
    height: 50px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
  }
  .figure-catalogue{
    width: 200px;
    height: 250px;
    background-color: #c6e6d2;
    overflow-y: scroll;
    border-radius: 15px;
    scrollbar-width:none;
    scrollbar-color: transparent;
  }

  .figure-catalogue::-webkit-scrollbar {
    width: 1px;
    background: transparent;
    border-radius: 15px;
  }
  
  .figure-catalogue::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: transparent;
  }

  .selected {
    background-color: rgb(107, 54, 231);
  }


  .page-space p button{
    width: 70px;
    height: 60px;
    margin: 0 10px;
    padding: 0;
    background-color: #5BAE7C; 
    color: #fff; 
    border-radius: 5px; 
    border: 0.5px solid #5BAE7C; 
    cursor: pointer;
    box-shadow: inset 3px 3px 5px rgba(184, 231, 187, 0.9), 3px 3px 5px rgba(0, 0, 0, 0.3); 
    font-family: "Comic Neue", "Comic Sans MS";  
  }

  .page-space p button img{
    width: 60px;
    height: 58px;
    margin: 0 5px;
    padding: 0;
  }

  .page-space input[type="range"] {
    background: #79a38a; 
    border-radius: 5px; 
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .page-space input[type="range"]::-webkit-slider-thumb,
  .page-space input[type="range"]::-moz-range-thumb{
    appearance: none; 
    width: 20px; 
    height: 20px; 
    background: url('../images/heart.png') no-repeat; 
    background-size: 100%; 
    background-color: #5BAE7C;
    border: 2px solid #5BAE7C; 
    box-shadow: inset 3px 3px 5px rgba(184, 231, 187, 0.9), 3px 3px 5px rgba(0, 0, 0, 0.3);
  }

  .page-space form label{
    margin: 0px 5px;
    color: rgb(8, 8, 85);
  }

  input[type="checkbox"] {
    display: none;
    margin-right: 3px;
  }

  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 13px; 
    height: 13px;
    background: url('../images/no_check.png') no-repeat; 
    background-size: 100% 100%;
  }

  input[type="checkbox"]:checked + label::before {
    background: url('../images/check.png') no-repeat; 
    background-size: 100% 100%;
  }


 
  /** END PAGE SPACE **/

  /** FOOTER **/
  .foot
  {
    width: 100%;
    height: 100px;
    /*background-color:#9effdf;*/
    background: url('../images/footer_art.png') no-repeat; 
    background-size: 100% 100%; 
    z-index: 94;
    display: inline-block;
    overflow: hidden;
    display: flex;
    align-items: center;
    bottom: 0px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    font-family: "Comic Neue";
  }
  
  .Point
  {
  
    color: #4c56ac;
    font-style:italic;
    font-size: 15px;
  }
  /** END FOOTER **/


  @media (min-width: 768px) and (max-width: 991px) {
    /** HEADER **/
    .navbar-brandname {
        padding-top: 5px;
        height: 60px;
    }
    .navbar-brandname h1 {   
        font-size: 40px; /* 1vw = 1% of viewport width */
    }
    #nav-list {
        padding-top: 0px;
        height: 60px;
    }
    #nav-list li{
      height: 60px;
  }
    #nav-list a {
        font-size: 1em;
    }
    #nav-list p {
        font-size: 1em;
        padding: 10px 10px;
    }
    #nav-list a:hover {
      height: 60px;
    }
    /** END HEADER **/
      
    /** PAGE SPACE **/

    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
  }

  @media (min-width: 768px){
    /** HEADER **/
  .containers {
    width: auto;
    padding: 0px 20px 0px 20px ;
  }
    /** END HEADER **/
      
    /** PAGE SPACE **/
    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
  }


  @media (max-width: 767px) {
    /* HEADER */
    .navbar-brandname {
      padding-top: 5px;
      height: 60px;
      padding-left: 10px;
    }
    .navbar-brandname h1 { /* Restaurant name */
      font-size: 40px; /* 1vw = 1% of viewport width */
    }
    #nav-list {
        padding-top: 0px;
      }

    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav p { /* Collapsed nav menu text */
        font-size: 1.2em;
      }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
    #call-btn > a {
      font-size: 1.5em;
      display: block;
      margin: 0 20px;
      padding: 10px;
      border: 2px solid #fff;
      background-color: #329058;
      color: #4c56ac;
    }
    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    /* END HEADER */
      
    /** PAGE SPACE **/

    .collage_background{
      width: 550px;
      height: 842px;
      background-image: url('../images/collage_back_medium.png');
      padding-top: 12px;
    }

    .art1header_text{
      font-size: 24px;
    }
    .art1-work-container{
      display:block;
      width: 500px;
      margin-top: 5px;
      margin-bottom: 5px;
      border: none;
      background: transparent;
      box-shadow: none;
    }
    .art1zone{
      margin-bottom: 0px;
      border: 3px solid #1A6F3B;
      box-shadow: inset 3px 3px 5px rgba(184, 231, 187, 0.9), 3px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .art1-canvas{
      border-radius: 12px;
    }
    .art1menu{
      width: 500px;
      height: 156px;
      margin-top: 11px;
      margin-bottom: 4px;
      display: flex;
      border: 3px solid #1A6F3B;
      box-shadow: inset 3px 3px 5px rgba(184, 231, 187, 0.9), 3px 3px 5px rgba(0, 0, 0, 0.3);
    }
    .palette {
      width: 200px;
      height: 150px;
      padding-top: 0px;
    }   
    .color {
      width: 50px;
      height: 40px;
    }
    .figure-catalogue{
      width: 300px;
      height: 150px;
    }
    .page-space p button{
      width: 60px;
      height: 55px;
      margin: 0 5px;
      padding: 0;
    }
    .page-space p button img{
      width: 55px;
      height: 50px;
      margin: 0 0px;
    }

    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
}

@media (max-width: 550px) {
        /** PAGE SPACE **/

        .collage_background{
          width: 340px;
          height: 820px;
          background-image: url('../images/collage_back_smal.png');
          padding-top: 12px;
        }
        .art1header_text {
          height: 40px;
          padding-top: 4px;
        }
        .art1-work-container{
          width: 300px;
        }
        .art1zone{
            width: 300px;
            height: 450px;
            margin-bottom: 0;
          }
          .art1menu{
            width: 300px;
            height: 150px;
            margin-top: 10px;
            margin-bottom: 5px;
            display: flex;
          }
          .palette {
            width: 150px;
            height: 144px;
          }   
          .color {
            width: 36px;
            height: 40px;
            margin: 6px;
          }
          .figure-catalogue{
            width: 150px;
            height: 144px;
          }

          .page-space p button{
            width: 42px;
            height: 40px;
            margin: 0 2px;
            padding: 0;
          }
          .page-space p button img{
            width: 40px;
            height: 38px;
            margin: 0 0px;
          }
          /** END PAGE SPACE **/
}