body{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Comic Neue";
  }
  /** HEADER **/
  #header-nav {
    /*background-color: #BDF0E6;*/
    background: url('../images/header_art.png') no-repeat; 
    background-size: 100% 100%; 
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
    font-family: "Comic Neue";
    padding-bottom: 10px;
  }
  #logo-img {
    background: url('../images/logo.png') no-repeat;
    width: 90px;
    height: 50px;
    margin: 10px 15px 10px 0;
    background-size: contain;
  }
  .navbar-brandname {
    /*padding-top: 25px;*/
    height: 60px; 
    font-family: "Comic Neue", "Comic Sans MS";
    color: #329058;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    float: left;
    padding-left: 0px;
    padding-right: 15px;
    line-height: 20px;
  }
  .navbar-brandname h1{
    color: #329058;
    font-size: 50px;
    font-family: "Comic Neue", "Comic Sans MS";
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  #nav-list {
    margin-top: 0px;
    padding-top: 0px;
  }
  #nav-list a {
    color: #4c56ac;
    text-align: center;
    font-size: 1.1em;
  }
  #nav-list p {
    color: #4c56ac;
    text-align: center;
    font-size: 1.1em;
    padding: 7px 15px;
    margin: 5px;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #4c56ac;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
  }
  /** END HEADER **/
  
    /** PAGE SPACE **/
    .page-space{
      /*background-image: url('../images/7742f8792365cedd9a598049c4a2be3d.png');
      background-size: cover;
      background-repeat: no-repeat;*/
      width: 100%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 30px;
      box-sizing: border-box;
    }
    .page-space p{
      text-align: center;
      align-items: center;
      display: flex; 
      justify-content: center;
      font-family: "Comic Neue";
    }
  
  
    .art2header_text{
      width: 100%;
      height: 40px;
      text-align: center;
      font-family: "Comic Neue";
      font-size: 30px;
      color: rgb(9, 71, 42);
      
    }

    .story_area{
        width: 520px;
        height: 750px;
        /*background-color: #4c56ac;*/
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 90px;
        padding-bottom: 150px;
        margin-top: 30px;
        background-image: url('../images/story_background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: center;
    }
    .text_zone{
        width: 480px;
        height: 450px;
        /*background-color: #a9e093;*/
        padding: 10px 20px;
    }
    .higher_text{
      font-size: 20px;
    }

    .character_zone{
      width: 440px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }


    .character{
      max-width: 100%;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
    }

    .character img{
      width: 160px; 
      height: 160px;
    }

   
    /** END PAGE SPACE **/
  
    /** FOOTER **/
  .foot
  {
    width: 100%;
    height: 100px;
    /*background-color:#9effdf;*/
    background: url('../images/footer_art.png') no-repeat; 
    background-size: 100% 100%; 
    z-index: 94;
    display: inline-block;
    overflow: hidden;
    display: flex;
    align-items: center;
    bottom: 0px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    font-family: "Comic Neue";
  }
  
  .Point
  {
  
    color: #4c56ac;
    font-style:italic;
    font-size: 15px;
  }
    /** END FOOTER **/
  
  
  @media (min-width: 768px) and (max-width: 991px) {
  /** HEADER **/
  .navbar-brandname {
    padding-top: 5px;
    height: 60px;
  }
  .navbar-brandname h1 {   
    font-size: 40px; /* 1vw = 1% of viewport width */
  }
  #nav-list {
    padding-top: 0px;
    height: 60px;
  }
  #nav-list li{
  height: 60px;
  }
  #nav-list a {
    font-size: 1em;
  }
  #nav-list p {
    font-size: 1em;
    padding: 10px 10px;
  }
  #nav-list a:hover {
    height: 60px;
  }
  /** END HEADER **/
        
      /** PAGE SPACE **/
      
  
      /** END PAGE SPACE **/
  
      /** FOOTER **/
      /** END FOOTER **/
    }
  
    @media (min-width: 768px){
      /** HEADER **/
    .containers {
      width: auto;
      padding: 0px 20px 0px 20px ;
    }
      /** END HEADER **/
        
      /** PAGE SPACE **/
      /** END PAGE SPACE **/
  
      /** FOOTER **/
      /** END FOOTER **/
    }
  
  
    @media (max-width: 767px) {
      /* HEADER */
      .navbar-brandname {
        padding-top: 5px;
        height: 60px;
        padding-left: 10px;
      }
      .navbar-brandname h1 { /* Restaurant name */
        font-size: 40px; /* 1vw = 1% of viewport width */
      }
      #nav-list {
          padding-top: 0px;
        }
  
      #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
      }
      #collapsable-nav p { /* Collapsed nav menu text */
          font-size: 1.2em;
        }
      #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
      }
      #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #329058;
        color: #4c56ac;
      }
      #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      /* END HEADER */
        
      /** PAGE SPACE **/
  
      .art2header_text{
        font-size: 24px;
      }
  
      /** END PAGE SPACE **/
  
      /** FOOTER **/
      /** END FOOTER **/
  }
  
  @media (max-width: 550px) {
        /** PAGE SPACE **/
        .story_area{
          width: 300px;
          height: 450px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 50px;
          padding-bottom: 80px;

      }
      .text_zone {
          width: 280px;
          height: 320px;
      }
      .higher_text{
        font-size: 16px;
      }
      .character_zone{
        width: 240px;
        height: auto;
        /*flex-direction: column;*/
        align-items: flex-center;
        margin-top: 10px;
      }
  
      .character{
        max-width: 50%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
        
      }
      .character img{
        width: 100px; 
        height: 100px;
      }

  
        /** END PAGE SPACE **/
              
      /** FOOTER **/
      .foot
      {
        position: relative;
      }
      /** END FOOTER **/
  }