body{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Comic Neue";
  }
 /** HEADER **/
#header-nav {
  /*background-color: #FBCCD4;*/
  background: url('../images/header_game.png') no-repeat; 
  background-size: 100% 100%; 
  border-radius: 0;
  border: 0;
  margin-bottom: 0px;
  font-family: "Comic Neue";
  padding-bottom: 10px;
}
#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 90px;
  height: 50px;
  margin: 10px 15px 10px 0;
  background-size: contain;
}
.navbar-brandname {
  /*padding-top: 25px;*/
  height: 60px; 
  font-family: "Comic Neue", "Comic Sans MS";
  color: #329058;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  float: left;
  padding-left: 0px;
  padding-right: 15px;
  line-height: 20px;
}
.navbar-brandname h1{
  color: #329058;
  font-size: 50px;
  font-family: "Comic Neue", "Comic Sans MS";
  margin-top: 12px;
  margin-bottom: 0px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  padding-top: 0px;
}
#nav-list a {
  color: #4c56ac;
  text-align: center;
  font-size: 1.1em;
}
#nav-list p {
  color: #4c56ac;
  text-align: center;
  font-size: 1.1em;
  padding: 7px 15px;
  margin: 5px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #4c56ac;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/** END HEADER **/
  
    /** PAGE SPACE **/
    .page-space{
      /*background-image: url('../images/7742f8792365cedd9a598049c4a2be3d.png');
      background-size: cover;
      background-repeat: no-repeat;*/
      width: 100%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 30px;
      box-sizing: border-box;
    }
    .page-space p{
      text-align: center;
      font-family: "Comic Neue", "Comic Sans MS";

    }
  
    .game_background{
      width: 544px;
      height: 720px;
      /*background-color: #0b5f31;*/
      background-image: url('../images/games_background_big.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-origin: border-box;
      background-position: center;
      margin: 0 auto;
      padding-top: 20px;
    }
  
    .game2header_text{
      width: 100%;
      height: 40px;
      text-align: center;
      font-family: "Comic Neue";
      font-size: 30px;
      color: rgb(9, 71, 42);
    }
  
    .gamezone{
      width: 500px;
      height: 450px;
      margin-left:  auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: rgb(231, 188, 70);
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 15px;
      outline: 3px solid #329058;
    }
  
    .game2-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #a0d2fc;
        background-image: url('../images/tree_big1.webp');
        background-size:cover;
        background-repeat: no-repeat;
        z-index: 1;
        border-radius: 15px;
    }
    
    .grid_game {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        background: transparent; 
    }
    
    .row_game {
        display: flex;
        width: 100%;
        justify-content: space-between; 
        margin-right: 0px;
        margin-left: 0px;
    }

    
    .item_game {
        width: 70px;
        height: 150px;
        padding: 10px;
        border: 4px dotted #7597f5;
        margin: 0px;
        border-radius: 15px;
    }

    #zoneA{
      background-color: rgba(201, 255, 201, 0.4);
    }
    #zoneJ{
      background-color: rgba(201, 255, 241, 0.4);
    }
    #zoneS{
      background-color: rgba(201, 220, 255, 0.4);
    }
    #zoneK{
      background-color: rgba(205, 201, 255, 0.4);
    }
    #zoneD{
      background-color: rgba(255, 201, 237, 0.4);
    }
    #zoneL{
      background-color: rgba(255, 232, 201, 0.4);
    }

    .page-space p button{
      width: 70px;
      height: 60px;
      margin: 0 10px;
      padding: 0;
      background-color: #5BAE7C; 
      color: #fff; 
      border-radius: 5px; 
      border: 0.5px solid #5BAE7C; 
      cursor: pointer;
      box-shadow: inset 3px 3px 5px rgba(184, 231, 187, 0.9), 3px 3px 5px rgba(0, 0, 0, 0.3); 
      font-family: "Comic Neue", "Comic Sans MS";  
    }
    
    .page-space p button img{
      width: 60px;
      height: 58px;
      margin: 0 5px;
      padding: 0;
    }
    .page-space p label{
      margin: 0px 5px;
      color: rgb(8, 8, 85);
      font-family: "Comic Neue", "Comic Sans MS";
    }

    #score{
      color: rgb(8, 8, 85);
      font-size: 20px;
    }
    
    .page-space p input[type="checkbox"] {
      display: none;
      margin-right: 5px;
      font-size: 18px;
    }
    
    .page-space p input[type="checkbox"] + label::before {
      content: "";
      display: inline-block;
      width: 13px; 
      height: 13px;
      background: url('../images/no_check.png') no-repeat; 
      background-size: 100% 100%;
      margin-right: 5px;
    }
    
    .page-space p input[type="checkbox"]:checked + label::before {
      background: url('../images/check.png') no-repeat; 
      background-size: 100% 100%;
      margin-right: 5px;
    }
    /** END PAGE SPACE **/
  
    /** FOOTER **/
    .foot
  {
    width: 100%;
    height: 100px;
    /*background-color: #ff9e9e;*/
    background: url('../images/footer_game.png') no-repeat; 
    background-size: 100% 100%; 
    z-index: 94;
    display: inline-block;
    overflow: hidden;
    display: flex;
    align-items: center;
    bottom: 0px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    font-family: "Comic Neue";
  }
  
  .Point
  {
  
    color: #4c56ac;
    font-style:italic;
    font-size: 15px;
  }
    /** END FOOTER **/
  
  
    @media (min-width: 768px) and (max-width: 991px) {
    /** HEADER **/
    .navbar-brandname {
      padding-top: 5px;
      height: 60px;
    }
    .navbar-brandname h1 {   
      font-size: 40px; /* 1vw = 1% of viewport width */
    }
    #nav-list {
      padding-top: 0px;
      height: 60px;
    }
    #nav-list li{
    height: 60px;
    }
    #nav-list a {
      font-size: 1em;
    }
    #nav-list p {
      font-size: 1em;
      padding: 10px 10px;
    }
    #nav-list a:hover {
      height: 60px;
    }
    /** END HEADER **/
        
      /** PAGE SPACE **/
      
  
      /** END PAGE SPACE **/
  
      /** FOOTER **/
      /** END FOOTER **/
    }
  
    @media (min-width: 768px){
      /** HEADER **/
    .containers {
      width: auto;
      padding: 0px 20px 0px 20px ;
    }
      /** END HEADER **/
        
      /** PAGE SPACE **/
      /** END PAGE SPACE **/
  
      /** FOOTER **/
      /** END FOOTER **/
    }
  
  
    @media (max-width: 767px) {
      /* HEADER */
      .navbar-brandname {
        padding-top: 5px;
        height: 60px;
        padding-left: 10px;
      }
      .navbar-brandname h1 { /* Restaurant name */
        font-size: 40px; /* 1vw = 1% of viewport width */
      }
      #nav-list {
          padding-top: 0px;
        }
  
      #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
      }
      #collapsable-nav p { /* Collapsed nav menu text */
          font-size: 1.2em;
        }
      #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
      }
      #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #329058;
        color: #4c56ac;
      }
      #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      /* END HEADER */
        
      /** PAGE SPACE **/
  
  
      /** END PAGE SPACE **/
  
      /** FOOTER **/
      /** END FOOTER **/
  }
  
  @media (max-width: 550px) {
          /** PAGE SPACE **/
          .game_background{
            width: 400px;
            height: 870px;
            background-image: url('../images/games_background_small_tree.png');
          }
          .game2header_text{
            font-size: 24px;
          }
          .gamezone{
              width: 350px;
              height: 600px;
  
            }
            .item_game {
              width: 70px;
              height: 200px;
          }
          .game2-canvas {
            background-image: url('../images/tree_small1.png');
        }

            /** END PAGE SPACE **/
  }