body{
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Comic Neue";
}
/** HEADER **/
#header-nav {
    /*background-color: #AFE0F0;*/
    background: url('../images/header_music.png') no-repeat; 
    background-size: 100% 100%; 
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
    font-family: "Comic Neue";
    padding-bottom: 10px;
  }
  #logo-img {
    background: url('../images/logo.png') no-repeat;
    width: 90px;
    height: 50px;
    margin: 10px 15px 10px 0;
    background-size: contain;
  }
  .navbar-brandname {
    /*padding-top: 25px;*/
    height: 60px; 
    font-family: "Comic Neue", "Comic Sans MS";
    color: #329058;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    float: left;
    padding-left: 0px;
    padding-right: 15px;
    line-height: 20px;
  }
  .navbar-brandname h1{
    color: #329058;
    font-size: 50px;
    font-family: "Comic Neue", "Comic Sans MS";
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  #nav-list {
    margin-top: 0px;
    padding-top: 0px;
  }
  #nav-list a {
    color: #4c56ac;
    text-align: center;
    font-size: 1.1em;
  }
  #nav-list p {
    color: #4c56ac;
    text-align: center;
    font-size: 1.1em;
    padding: 7px 15px;
    margin: 5px;
  }
  #nav-list a:hover {
    background: #AFE0F0;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #4c56ac;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
  }
  /** END HEADER **/

  /** PAGE SPACE **/
  .page-space{
    /*background-image: url('../images/7742f8792365cedd9a598049c4a2be3d.png');
    background-size: cover;
    background-repeat: no-repeat;*/
    width: 100%;
    height: auto;
    padding-top: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    font-family: "Comic Neue";
  }

  .artheader_text{
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: "Comic Neue";
    font-size: 30px;
    color: rgb(9, 71, 42);
  }

	.music-name1
	{
		float: right;
		height: auto;
		width: 240px;
		background-color: #D7E4BD;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(9, 71, 42, 0.7);
    color: #4c56ac; 
    font-size: 20px;
	}


	.catalogue
	{
		width: 100%;
    height: auto;
    margin-top: 20px;
	}

  .catalogue ul{
    max-height: 460px;
    width: 100%;
    padding-left: 2%;
    overflow-y: auto;
    scrollbar-width:none;
    scrollbar-color: transparent;
  }

    
  .first-music{
    background-color: rgb(255, 255, 255);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    float: left;
    color: #09472A;
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 30px;
    height: 300px;
    overflow: auto;
    width: 31%;
    font-size: 30px;
    text-align: center;
    font-family: "Comic Neue";
    border-radius: 20px;
    border: 3px solid #329058;
    box-shadow: 3px 7px 10px rgba(0, 34, 10, 0.7); 
  }

  #audio-player{
    /*position: relative;*/
    height: 40px;
    display: block;
    margin: 0 auto;
    background-color: #67c285;
    color: #daa2a2;
    padding: 10px;
    border-radius: 20px;
  }
  #audio-player::-webkit-media-controls-play-button,
  #audio-player::-webkit-media-controls-pause-button{
    background-color: #c57171;
    color: #e99999;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
 
  /** END PAGE SPACE **/

  /** FOOTER **/
  .foot
  {
    width: 100%;
    height: 100px;
    /*background-color: #ffcd9e;*/
    background: url('../images/footer_music.png') no-repeat; 
    background-size: 100% 100%; 
    z-index: 94;
    display: inline-block;
    overflow: hidden;
    display: flex;
    align-items: center;
    bottom: 0px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    font-family: "Comic Neue";
  }
  
  .Point
  {
  
    color: #4c56ac;
    font-style:italic;
    font-size: 15px;
  }
  /** END FOOTER **/


  @media (min-width: 768px) and (max-width: 991px) {
  /** HEADER **/
  .navbar-brandname {
    padding-top: 5px;
    height: 60px;
  }
  .navbar-brandname h1 {   
    font-size: 40px; /* 1vw = 1% of viewport width */
  }
  #nav-list {
    padding-top: 0px;
    height: 60px;
  }
  #nav-list li{
  height: 60px;
  }
  #nav-list a {
    font-size: 1em;
  }
  #nav-list p {
    font-size: 1em;
    padding: 10px 10px;
  }
  #nav-list a:hover {
    height: 60px;
  }
  /** END HEADER **/
      
    /** PAGE SPACE **/
    
  .first-music{
    margin-bottom: 25px;
  }
  .first-music{
    width: 47.5%;
  } 

    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
  }

  @media (min-width: 768px){
    /** HEADER **/
  .containers {
    width: auto;
    padding: 0px 20px 0px 20px ;
  }
    /** END HEADER **/
      
    /** PAGE SPACE **/
    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
  }


  @media (max-width: 767px) {
    /* HEADER */
    .navbar-brandname {
      padding-top: 5px;
      height: 60px;
      padding-left: 10px;
    }
    .navbar-brandname h1 { /* Restaurant name */
      font-size: 40px; /* 1vw = 1% of viewport width */
    }
    #nav-list {
        padding-top: 0px;
      }

    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav p { /* Collapsed nav menu text */
        font-size: 1.2em;
      }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }

    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    /* END HEADER */
      
    /** PAGE SPACE **/

    .artheader_text{
      font-size: 24px;
    }
    .catalogue ul{
      padding-left: 1%;
    }
    .first-music{
        width: 97%;
    } 

    /** END PAGE SPACE **/

    /** FOOTER **/
    /** END FOOTER **/
}

@media (max-width: 408px) {
        /** PAGE SPACE **/

        .artheader_text{
            height: 70px;
          }
          /** END PAGE SPACE **/
}